body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#botaoGerar {
  width: 150px;
  height: 30px;
}

#botaoReset {
  width: 200px;
  height: 30px;
}

input {
  height: 24px;
}

span{
    font-size: 25px;
}