h1{
    font-size: 25px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

fieldset{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    border-radius: 5px;
}

input{
    border-radius: 5px;
}

label{
    display: inline-block;
    width: 150px;
    margin-left: 40%;
}
