.formulario{
    background-color: white;
    margin: 0 auto;
    width: 40%;
    
    border: 1px solid grey;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

input{
    width: 80%;
    height: 54px;
    border-radius: 25px;
    border: 1px solid grey;
    outline: none;
}
button{
    width: 80%;
    height: 40px;
    background-color: rgb(44, 166, 226);
    border-radius: 20px;
    color: white;
    border: none;
}
button:hover{
    background-color: rgb(68, 177, 231);
}

.input-error{
    border-color: red;
}

.inputArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.textoErro{
    color: red;
    text-align: left;
}


/* CSS DO FEED */

body {
    margin: 0
}


.container {
    display: flex;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    /* incluir padding e borda na largura total */
    overflow-y: auto;
    /* adicionar barra de rolagem apenas quando necessário */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ece8e8;
}